.currentWeatherDiv{
    height: 400px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(115, 151, 250, 0.322);
    margin: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    min-width: 250px;
    padding-bottom: 20px;
    width: 96%;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.failimg{
    background-color: #ffffff;
    width: 20%;
    height: 55%;
}